<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informations de contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informations de contact</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- École le Petit Prince
  1, rue des écoles
  13000 Saint Exupéry
  Tél : 0412345678
  Mail : contact@lepetitprince.fr -->
  <!-- Write contact info -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>École le Petit Prince</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>1, rue des écoles</p>
      <p>13000 Saint Exupéry</p>
      <p>Tél : 0412345678</p>
      <!-- Lien mailto -->
      <p>Mail : <a href="mailto:contact@lepetitprince.fr">contact@lepetitprince.fr</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>
